* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E9EDF2;
    font-family: 'jost', sans-serif;
    color: #E9EDF2;
}

label {
    color: black;
}

nav {
    font-size: 25px;
}

footer {
    background-color: #A7BDD9;
    color: #142126;
    text-align: center;
    height: 100%;
    font-size: 0;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:"encabezado encabezado encabezado"
                        "contenido contenido contenido"
                        "contenido contenido contenido"
                        "contenido contenido contenido"
                        "contenido contenido contenido"
                        "pie pie pie";
}

.pie{
    grid-area: pie;
}

.contenido{
    grid-area: contenido;
}

.encabezado{
    grid-area: encabezado;
    background-color: #A7BDD9;
    height: 100%;
    width: 100%;
}
.titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.boton{
    width: 200px;
    height: 80%;
    text-align: center;
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;

}

.formularios{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.formulario_label{
    display: block;
    padding: 10px;
    cursor: pointer;
}

.input{
    position: relative;
    width: 20%;
    min-width: 300px;
    background-color:#fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
}

.input:focus{
    border: 3px solid #142126;
    outline: none;
    box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.input-error-activo{
    display: block;
}

.mensaje{
    width: 420px;
    height: 40px;
    line-height: 40px;
    background-color:#f66060;
    padding:auto;
    border-radius: 3px;
    display: none;
    margin: auto;
}

.mensaje-activo{
    display: block;
}

.grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.btn{
    height: 40px;
    line-height: 40px;
    width: 100px;
    background: #142126;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.btn:hover{
    box-shadow: 3px 0 30 px rgba(163, 163, 163, 1);
}

.mensaje-exito{
    font-size: 14px;
    color:#119200;
    display: none;
}

.mensaje-exito-activo{
    display: block;
}

.grupo-correcto .input{
    border: 3px solid #A7BDD9;
}

.grupo-incorrecto .input{
    border: 3px solid #AD3036;
}

.grupo-incorrecto .formulario_label{
    color:#AD3036;
}

.submit {
    font-size: 1rem;
    background-color: #E9EDF2;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 5px 10px 0;
}

.portada {
    padding-top: 10px;
}

.vinos {
    margin: 10px 0 0 0;
    text-align: center;
    padding: 10px;
}

.lista {
    color: #142126;
    text-align: center;
    padding: 0 40px;
    list-style-type: none;
}

.icono {
    color: #142126;
    font-size: 20px;
    margin: 50px;
}

.titulo a {
    text-decoration: none;
    color: #AD3036;
}

.campo_obli {
    font-size: 14px;
}

.proximamente{
    font-size: 300%;
    color: black;
    text-align: center;
}

.imagenVino{
    width: 100%;
}

#Olvidaste {
    text-decoration: none;
    color: #142126;
    font-size: smaller;
}

#mainCom {
    margin: 10px 0;
    background-color: #8fbfa441;
    color: #142126;
    text-align: center;}

#mainVinos {
    background-color: #8fbfa441;
    margin-bottom: 10px;
}

#somos {
    background-color: #8fbfa441;
    color: #142126;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin: -20px 0 20px 0;
}

#nosotros {
    width: 100%;
}

#logo {
    width: 250px;
}

@media all and (min-width:1200px){
    .iframe {width: 330px ;}
    .boton {flex-basis: 5% ;}
    .pie {font-size: 12px;}
    .titulo {align-items: end;}
    .proximamente {font-size: 100px; }
    .imagenVino{width: 400px;}
    #logo {width: 300px;}
    #somos {font-size: 20px;}
}

.animate__animated.animate__fadeIn {
    --animate-duration: 5s;
}